<div data-role="view" data-title="Form" data-layout="main" data-model="app.formView" data-show="app.formView.onShow">
    <div id="formViewModel" class="form-view">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li>
                    <label>Email
                        <input data-bind="value: formViewModel.fields.email" placeholder="example@example.com" type="email">
                    </label>
                </li>
                <li>
                    <label>Username
                        <input data-bind="value: formViewModel.fields.username" placeholder="johndoe" type="text">
                    </label>
                </li>
                <li>
                    <label>Phone
                        <input data-bind="value: formViewModel.fields.tel" placeholder="+123 444 555 666" type="tel">
                    </label>
                </li>
                <li>
                    <label>Switch
                        <input data-bind="value: formViewModel.fields.switch" data-role="switch">
                    </label>
                </li>
                <li>
                    <label>Label
                        <select data-bind="value: formViewModel.fields.dropdownlist" data-role="dropdownlist">
                            <option value="First Option">First Option</option>
                            <option value="Second Option">Second Option</option>
                            <option value="Third Option">Third Option</option>
                        </select>
                    </label>
                </li>
                <li>
                    <label>Date/time
                        <input data-bind="value: formViewModel.fields.datetime" type="datetime-local">
                    </label>
                </li>
            </ul>

            <div class="button-group">
                <a data-role="button" data-bind="events: { click: formViewModel.cancel }">Cancel</a>
                <a class="primary" data-role="button" data-bind="events: { click: formViewModel.submit }">Confirm</a>
            </div>
        </form>
    </div>
    <!-- START_CUSTOM_CODE_formView -->
    <!-- END_CUSTOM_CODE_formView -->
</div>